<html>

<body>


<div class="row">
    <div class="col-md-12 alerta">
        {% for type, flashMessage in app.session.flashbag.all() %}
            {{ dump(type) }}
            {{ dump(flashMessage) }}

            <div class="alert alert-{{ type }} fade in">
                <a data-dismiss="alert" class="pull-right" href="" type="button">
                    <i class="fa fa-times"></i>
                </a>
                {% if flashMessage.title is defined %}
                    <strong>{{ flashMessage.title }}</strong><br>
                    {{ flashMessage.message }}
                {% endif %}
            </div>
        {% endfor %}
    </div>
        {{ dump(booking) }}
    <!-- Your Page Content Here -->
</div>

<br>

</body>
</html>
